Binaries
Build
Debug
DerivedDataCache
Intermediate
Saved
Plugins/Carla/Binaries
Plugins/Carla/Build
Plugins/Carla/CarlaServer
Plugins/Carla/CarlaDependencies
Plugins/Carla/Debug
Plugins/Carla/DerivedDataCache
Plugins/Carla/Intermediate
Plugins/Carla/Saved

/Content/Carla/Config
/Content/Carla/HDMaps
/Content/Carla/hooks
/Content/Carla/Maps
/Content/Carla/Static
/Content/Carla/LICENSE
/Content/Carla/pax_global_header
Config/CarlaSettings.ini
Config/DefaultEditor.ini
Config/CarSimConfig.ini

*.code-workspace
.idea
.vscode
CMakeLists.txt
Makefile
